{% extends "skeleton.html" %}

{% block title %}
	Portfolio
{% endblock %}

{% block script %}
	/index.js
{% endblock %}

{% block body %}
	<h1>
		Portfolio
	</h1>

	<h2>
		Here is a nice table:
	</h2>
	<table class="table">
		<thead>
			<th></th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
		</thead>
		<tbody>
			<tr>
				<th>x^2</th>
				<td>1</td>
				<td>4</td>
				<td>9</td>
			</tr>
			<tr>
				<th>x^3</th>
				<td>1</td>
				<td>8</td>
				<td>27</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
